body {
  margin: 0;
  font-family: Quicksand, sans-serif;
  background-color: aliceblue;
}

nav {
  display: grid;
  grid-template-columns: 1fr 8fr 1fr;
  border: 2px solid black;
  border-top: none;
  background-color: aliceblue;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
#menu-button {
  background-color: transparent;
  align-self: center;
  cursor: pointer;
  border: 1px solid white;
  border: none;
  justify-self: start;
  grid-column: span 2/2;
}



nav button:nth-child(1) img {
  width: 9vw;
}

.isClicked {
  transform: rotate(270deg);
  transform-origin: center;
  transition: transform 0.5s;
}

.isNotClicked {
  transition: transform 0.5s;
}

nav > span {
  justify-self: center;
  align-self: center;
  color: black;
  font-size: 5vw;
  font-weight: 800;
}

.nav-button-wrapper {
    display: none;
    
}

#projects-tab {
    display: none;
}

#dropdown-menu {
  display: none;
  background-color: inherit;
  position: absolute;
  top: 0;
  border: 3px solid black;
  border-top: none;
  border-left: none;
}

#dropdown-menu div button {
  background: transparent;
  border: none;
  color: black;
  font-size: 2.5vh;
  font-family: Quicksand;
  cursor: pointer;
}

#dropdown-menu div:nth-child(3), #dropdown-menu div:nth-child(8) {
    height: 1px;
    background-color: black;
    grid-column: span 2;
    margin: 1vh 0;
}



#dropdown-menu div img {
    height: 3vh;
    padding: 0 0 0 5px;
    float: right;
}


#dropdown-menu div:nth-child(9), #dropdown-menu div:nth-child(6), #dropdown-menu div:nth-child(4), #dropdown-menu div:nth-child(1) {
    display: flex;
    justify-content: center;
    align-items: center;
}

#dropdown-menu div:nth-child(2), #dropdown-menu div:nth-child(1){
    margin-top: 0.5vh;
}

#dropdown-menu div:nth-child(10), #dropdown-menu div:nth-child(9){
    margin-bottom: 0.5vh;
}

#create-project-menu {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.35);
    display: none;
    color: white;
}

.create-proj-desktop {
    width: 50vw;
    height: min-content;
    padding: 15px 5vw 25px 5vw;
    display: grid;
    grid-template-columns: max-content auto;
    grid-auto-rows: minmax(min-content, max-content);
    position: relative;
    row-gap: 3vh;
    column-gap: 3vh;
    background-color: darkturquoise;
    border-radius: 15px;
    margin-top: 10vh;
    margin-left: 20vw;  
}

#create-proj-desktop-title {
    font-size: 2vw;
    grid-column: 1 / -1;
    justify-self: center;
    margin-bottom: 2.5vh;
}

.input_create, .input_2_create {
    display: grid;
    grid-template-columns: max-content auto;
    column-gap: 5px;
    row-gap: 15px;
    grid-column: span 1;
    grid-auto-rows: max-content;
}

.input_2_create div {
    grid-column: span 2 / -1;
}

.input_2_create {
    row-gap: 3px;
}

textarea {
    resize: none;
    border: none;
}

#create-project-menu .create-proj-desktop label {
    font-size: 1.3vw;
}

.create-proj-desktop input, .create-proj-desktop select {
    height: 1.2vw;
    font-size: 1.3vw;
    
}

#btn-add-project, #btn-close-create-proj {
    width: 10vw;
    font-size: 1.25vw;
    color: white;
    padding: 5px;
    border: none;
    border-radius: 10px;
    background-color: rgb(0, 187, 190);
    font-family: inherit;

}

#btn-add-project:hover, #btn-close-create-proj:hover {
    
    background-color: rgb(1, 164, 167);

}

#btn-add-project {
    grid-column: span 1 / 2;
    justify-self: end;
}

#btn-close-create-proj {
    justify-self: start;
}

#new-project-lang {
    grid-column: span 2 / -1;
    position: relative;
}

.new-project-lang-container {
    width: 20vw;
    height: max-content;
    grid-column: span 2;
    margin-top: 2vh;
    color: rgba(0, 0, 0, 0.35);
    display: grid;
    grid-auto-columns: repeat(auto-fit, max-content);
    grid-template-columns: max-content auto;
    justify-content: center;
}

.new-project-lang-container div {
    color: white;
    grid-column: span 1;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 0.8vh;
    margin: 1vh;
}

#new-project-lang-predict-tab {
    position: absolute;
    width: 40%;
    background-color: white;
    color: black;
    visibility: visible;
}

#new-project-lang-predict-tab div {
    padding: 5px;
}

#new-project-lang-predict-tab div:hover {
    background-color: rgb(214, 214, 214);
}

#new-project-lang-predict-tab div.predict-tab-hover {
    background-color: rgb(214, 214, 214);
}

@media only screen and (min-width: 600px) {
    #menu-button {
        display: none;
    }
    nav {
        border-color: rgb (0, 0, 0);
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 3px 0;
        position: relative;
    }
    nav span {
        color: black;
        font-size: 3vh;
    }

    .nav-button-wrapper {
        display: block;
        width: calc(100% - 2vw);
        position: absolute;
        top: 0;
        left: 1vw;
        z-index: -1;
        display: grid;
        grid-template-columns: minmax(12vw, min-content) minmax(11vw, min-content) 1fr;
        background-color: inherit;
        gap: 0.8vw;
    }

    .nav-button-wrapper div {
        justify-self: center;
        width: 100%;
        align-self: end;

    }

    .nav-buttonwrapper div:last-child {
        width: 10vw;
    }

    .nav-button-wrapper div button {
        width: 11vw;
        float: right;
        background: none;
        border: none;
        font-family: inherit;
        border: 2px solid black;
        padding-top: 4.8vh;
        border-bottom-right-radius: 15px;
        border-bottom-left-radius: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: margin 0.5s;
    }
    #dashboard-desktop:hover, #projects-desktop#hover, #settings-desktop:hover {
        margin-top: 20;
        transition: all 0.5s;
    }

    .nav-button-wrapper div:not(:last-child) button {
        float: none;
        width: 100%;
    }

    .nav-button-wrapper div button img {
        width: 2.5vmin;
        margin-right: 3px;
    }

    .nav-button-wrapper div button span {
        font-size: 1.1vw;
        font-weight: bold;
    }

    #projects-tab {
        height: 80%;
        width: 90%;
        background-color: inherit;
        border: 2px solid black;
        border-bottom: none;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        position: absolute;
        top: 15%;
        left: 5%;
        display: grid;
        /* transition: opacity 0.1s; */
        opacity: 0;
    }


    #project-buttons {
        display: grid;
        width: 96%;
        position: absolute;
        left: 2%;
        grid-template-columns: 1fr 1fr;
    }

    #project-buttons div:last-child button{
        float: right;
    }

    #project-buttons div button {
        font-family: inherit;
        font-size: 2vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background: none;
        border: 2px solid black;
        border-radius: 10px;
        padding-left: 10px;
        padding-right: 10px;
        cursor: pointer;
    }

    #project-buttons div:nth-child(2) button {
        opacity: 0.2;
    }

    #project-buttons div:nth-child(2) button:nth-child(2) {
        margin-right: 10px;
    }

    #project-buttons img {
        width: 3vmin;
    }

}